* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --background-color: #000000;
  --bg-button-color: #1a1a1a;
  --bg-task-color: #262626;
  --primary-text-color: #f4f4f4;
  --delete-color: #ff4d4d;

  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;
  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-xxl: 30px;

  /* border-radius variable */
  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 30px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  padding: var(--nav-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--background-color);
}

nav button {
  background-color: var(--bg-button-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--border-radius-m);
}

section {
  padding: var(--section-padding);
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: var(--padding-xxl);
}

section .task-column {
  background-color: var(--bg-button-color);
  flex-grow: 1;
  width: 100%;
  padding: var(--padding-l);
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
  border-radius: var(--border-radius-m);
  transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.05;
}

section .task-column .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section .task-column .task {
  background-color: var(--bg-task-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}

section .task-column .task button {
  align-self: flex-end;
  cursor: pointer;
  padding: var(--padding-s) var(--padding-m);
  border: none;
  outline: none;
  border-radius: var(--border-radius-s);
  background-color: var(--delete-color);
  color: var(--primary-text-color);
}

.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal.active {
  display: flex;
  z-index: 100;
}

.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

.modal .center {
  background-color: var(--bg-button-color);
  padding: var(--padding-xxl);
  border-radius: var(--border-radius-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-l);
  z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m);
  border-radius: var(--border-radius-s);
}

.modal .center button {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  color: var(--primary-text-color);
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--border-radius-m);
  width: fit-content;
  align-self: center;
}

@media (max-width: 768px) {
  nav {
    padding: var(--padding-m) var(--padding-l);
  }
  nav .left {
    font-size: 14px;
  }
  nav .right button {
    padding: var(--padding-s) var(--padding-m);
    font-size: 14px;
  }
  section.board {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: var(--padding-m) var(--padding-l);
    gap: var(--padding-l);
  }
  section.board::-webkit-scrollbar {
    height: 6px;
  }
  section.board::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 10px;
  }

  section .task-column {
    padding: var(--padding-m);
    scroll-snap-align: start;
    min-width: 80%;
  }
  section .task-column .task {
    padding: var(--padding-s);
  }
  .modal .center {
    padding: var(--padding-l);
    width: 90vw;
  }
  .modal .center input,
  .modal .center textarea {
    font-size: 14px;
  }
  .modal .center button {
    padding: var(--padding-s) var(--padding-m);
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  nav {
    padding: 8px 10px;
  }
  section .task-column {
    min-width: 90%;
  }

  section.board {
    padding: 8px 10px;
  }

  .modal .center {
    padding: 12px;
  }
}
